{% extends "base.html" %}
{% block content %}
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="display-5 fw-bolder text-white mb-2">Meet the Team Behind the Scenes</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About US</h2>
            <h3 class="section-subheading text-muted">More Than a Business: A Community of Visionaries</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/static/images/about.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2024-2025</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Bookworm Bookstore (founded in 2024-2025) is a haven for literature
                            lovers, offering a curated selection of classics and contemporary reads. Dive into a world
                            of imagination and exploration with us.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/static/images/founder.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Meet the Founder</h4>
                        <h4 class="subheading">Mr. Ernest Hemingway</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Ernest Hemingway was a well-known American writer who lived in the 20th
                            century. He wrote many famous books like "The Old Man and the Sea" and "For Whom the Bell
                            Tolls." He lived an adventurous life, traveling to different places and even working as a
                            war correspondent during World War I and the Spanish Civil War. Despite his success, he also
                            faced challenges and struggles in his personal life.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/static/images/vision.jpg"
                        alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vision and Mission</h4>
                        <h4 class="subheading">Future goals and milestones</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">To connect every reader with the perfect book, fostering a global
                            community where knowledge and creativity flourish and also to provide affordable,
                            accessible, and curated selection of books, ensuring a seamless shopping
                            experience for book lovers everywhere.</p>
                    </div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock %}