{% extends "navigation.html" %}

{% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-12">
                <h3 class="display-5 mb-2 text-center">Your Shopping Cart</h3>
                <p class="mb-5 text-center">
                    <i class="text-info" style="font-size: larger;">{{ cart_items|length }}</i> type of books in your
                    cart
                </p>
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr>
                                <td>
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <img src="{{ url_for('static', filename='images/' + item.book.image_path) }}"
                                                alt="" class="img-fluid rounded mb-2 shadow" style="width: 50px;">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h4 style="font-size: 14px;">{{ item.book.name }}</h4>
                                            <p class="font-weight-light" style="font-size: 12px;">{{ item.book.author }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td style="font-size: 14px;">${{ '%0.2f'|format(item.book.price) }}</td>
                                <td>
                                    <form action="{{ url_for('update_cart', item_id=item.id) }}" method="post"
                                        class="d-flex align-items-center">
                                        <input type="number" name="quantity" value="{{ item.quantity }}" min="1"
                                            class="form-control form-control-sm" style="width: 70px;">

                                    </form>
                                </td>
                                <td style="font-size: 14px;">${{ item.book.price * item.quantity }}</td>
                                <td>
                                    <form action="{{ url_for('remove_cart_item', item_id=item.id) }}" method="POST"
                                        class="d-inline-block">
                                        <button type="submit" class="btn btn-outline-dark mt-auto">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div style="float: right; margin-right: 4%; margin-top: 1%;">
                        <h4>Subtotal:</h4>
                        <h1>${{ subtotal }}</h1>
                    </div>
                    <div>
                        <a href="{{ url_for('book') }}" class="btn btn-outline-dark">
                            <i class="bi bi-arrow-left"></i> Continue Shopping
                        </a>
                        <a href="{{ url_for('check_out') }}" class="btn btn-dark">
                            Checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}