{% extends "base.html" %}
{% block content %}


<header class="bg-dark py-5 indexbanner">
    <div class="container px-6 ">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Find Your Next Favorite Read in Every Click </h1>
                    <p class="lead text-white-50 mb-4">Discover endless stories and knowledge. Explore our curated
                        collection and start your journey of imagination and discovery.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/book">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/aboutus">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white h-100 d-flex flex-column justify-content-between">
                <div class="card-body text-center">
                    <i class="bi bi-book" style="font-size: 3rem;"></i>
                    <h5 class="card-title mt-3 fw-bolder">NUMBER 1 BOOKSTORE</h5>
                    <p class="card-text pt-4 pb-4  text-white-50">One of the only pieces of evidence we have that
                        people are still
                        thinking.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white h-100 d-flex flex-column justify-content-between">
                <div class="card-body text-center">
                    <i class="bi bi-lightbulb" style="font-size: 3rem;"></i>
                    <h5 class="card-title mt-3 fw-bolder">ELEVATE YOUR READING</h5>
                    <p class="card-text pt-4 pb-4 text-white-50">Nothing is better than reading and gaining more and
                        more and more
                        knowledge.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white h-100 d-flex flex-column justify-content-between">
                <div class="card-body text-center">
                    <i class="bi bi-basket" style="font-size: 3rem;"></i>
                    <h5 class="card-title mt-3 fw-bolder">YOUR ONE-STOP DESTINATION</h5>
                    <p class="card-text pt-4 pb-4 text-white-50">Nothing is better than reading and gaining more and
                        more and more
                        knowledge.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}