{% extends "format.html" %}
{% block body %}

<div class="container h-100">
    <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="text-center my-5">
                <img src="/static/images/booklogo.svg" alt="logo" width="100">
            </div>
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                    <form method="POST" action="/login" class="needs-validation" novalidate="" autocomplete="off">
                        {% if message %}
                        <div class="alert alert-{{ alert_type }}">{{ message }}</div>
                        {% endif %}
                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                            <input id="email" type="email" class="form-control" name="email" value="" required
                                autofocus>

                        </div>

                        <div class="mb-3">
                            <div class="mb-2 w-100">
                                <label class="text-muted" for="password">Password</label>

                            </div>
                            <input id="password" type="password" class="form-control" name="password" required>

                        </div>

                        <div class="d-flex align-items-center">
                            <button type="submit" class="btn btn-primary ms-auto w-100 mt-4">
                                Login
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-footer py-3 border-0">
                    <div class="text-center">
                        Don't have an account? <a href="/register" class="text-dark">Create Account</a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-5 text-muted">
                Copyright &copy; 2024-2025 &mdash; Bookworm
            </div>
        </div>
    </div>
</div>

{% endblock %}