{% extends "format.html" %}
{% block style %}
<style>
    .d-flex button,
    .d-flex a {
        margin-left: 5px;
    }


    @media (max-width: 767px) {
        .navbar-toggler {
            display: block;
        }

        .navbar-nav {
            flex-direction: column;
        }

        .d-flex {
            flex-direction: column;
            align-items: stretch;
        }

        .d-flex button,
        .d-flex a {
            width: 100%;
            margin-top: 5px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .d-flex {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .navbar-collapse {
            justify-content: space-between;
        }

        .d-flex form,
        .d-flex button,
        .d-flex a {
            width: 100%;
            margin-top: 5px;
            margin-left: 10px;
            flex-grow: 0;
            min-width: 100px;

        }

        .btn {
            padding: 0.375rem 0.75rem;
            white-space: nowrap;
        }

        .form-inline {
            display: flex;
            flex-grow: 1;
        }
    }

    @media (min-width: 991px) and (max-width: 1024px) {
        .navbar-nav {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

        .d-flex {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

        }

        .d-flex form,
        .d-flex a,
        .d-flex button {
            margin-top: 0;
            flex-grow: 1;
            text-align: center;
        }
    }
</style>



{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand logofont" href="/home">
            Bookworm &nbsp;<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Bookworm Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item {% if request.path == '/home' %}active{% endif %}">
                    <a class="nav-link {% if request.path == '/home' %}active{% endif %}" href="/home">Home</a>
                </li>
                <li class="nav-item {% if request.path == '/book' %}active{% endif %}">
                    <a class="nav-link {% if request.path == '/book' %}active{% endif %}" href="/book">Book</a>
                </li>
                <li class="nav-item {% if request.path == '/aboutus' %}active{% endif %}">
                    <a class="nav-link {% if request.path == '/aboutus' %}active{% endif %}" href="/aboutus">About
                        Us</a>
                </li>
                <li class="nav-item {% if request.path == '/contact' %}active{% endif %}">
                    <a class="nav-link {% if request.path == '/contact' %}active{% endif %}" href="/contact">Contact</a>
                </li>
            </ul>
            <i class="bi-person-fill me-1 btn btn-outline-dark bg-dark text-white"></i>
            <button class="btn btn-outline-dark bg-dark text-white">
                <span class="badge text-white ms-1 text-uppercase">{{session.name}}</span>
            </button>
            <form class="d-flex" action="{{ url_for('view_cart') }}">
                <button class="btn btn-outline-dark ms-2" type="submit">
                    <i class="bi-cart-fill me-1"></i> Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{ total_items }}</span>
                </button>
            </form>
            <form class="d-flex">
                <a href="{{ url_for('logout') }}" class="btn btn-outline-dark ms-2">Logout</a>
            </form>
        </div>
    </div>
</nav>
<div>

    {% block content %}

    {% endblock %}

</div>
<div>



</div>
<div>

    {% block footer %}

    {% endblock %}

</div>
{% endblock %}